#a1{
    padding-top:20px;
    color: aqua;
    background-color: bisque;
    padding-bottom: 20px;
   
}
#h1{
    text-align: center;
}
#r1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    color: blue;
      background-color: cadetblue;
      border-radius: 20px;
}
h3{
    margin: -15px;
    text-align: center;
    color: rebeccapurple;
    background-color: sandybrown;
    padding-top: 30px;
    padding-bottom: 30px;
}
body{
    background-color: slateblue;
}
