<h3>TO DO APP</h3>
<body>
<div id="h1">
<mat-card>
    <mat-form-field>
<input matInput placeholder="enter text here.."  type="text" [(ngModel)]="textField"/>
    </mat-form-field>
<br>
<button  mat-raised-button
color="accent" (click)="addTask()">ADD ITEM</button>
</mat-card>
</div>
<mat-card>
<div id="a1" *ngFor="let element of tasks;let i=index" >
<div id="r1">{{ element }}
</div>
<br>
  <button type="button"  mat-raised-button
  color="accent"  (click)="tasks.splice(i,1)">
    REMOVE
    </button>
  </div></mat-card>
</body>